@font-face {
    font-family: 'poppins';
    font-weight: 800;
    src: url('/fonts/poppins/extra-bold/extra-bold.woff2') format('woff2'),
        url('/fonts/poppins/extra-bold/extra-bold.woff') format('woff')
        url('/fonts/poppins/extra-bold/extra-bold.ttf') format('truetype')
}

@font-face {
    font-family: 'poppins';
    font-weight: 500;
    src: url('/fonts/poppins/medium/medium.woff2') format('woff2'),
        url('/fonts/poppins/medium/medium.woff') format('woff')
        url('/fonts/poppins/medium/medium.ttf') format('truetype')
}

@font-face {
    font-family: 'poppins';
    font-weight: 300;
    src: url('/fonts/poppins/light/light.woff2') format('woff2'),
        url('/fonts/poppins/light/light.woff') format('woff')
        url('/fonts/poppins/light/light.ttf') format('truetype')
}